<div class="card">
    <img [src]="product?.urlImage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product?.title }}</h5>
      <h6 class="card-subtitle text-muted">{{ product?.skuCode }}</h6>
      <div class="mt-2 mb-1">
        <i class="bi bi-star ms-1" *ngFor="let star of stars"></i>
      </div>
      <p class="fs-5">{{ product?.price | currency: 'CLP $' }}</p>
      <div class="d-flex align-items-center">
        <i class="bi bi-heart" title="Agregar a favoritos" (click)="addToFavorites(product)"></i>
        <span class="fs-6 text-muted ms-2">Favoritos</span>
      </div>
      <button class="btn btn-primary mt-2">Agregar al carro</button>
      <button class="btn btn-outline-primary mt-2 ms-3">Ver más</button>
    </div>
</div>