<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">e-commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="flex-grow-0">
        <button class="btn btn-outline-light me-1" (click)="open(content)">Identificarse</button>
      </div>
    </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Bienvenido</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="authForm">
            <div class="mb-3">
                <label for="auth-email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="auth-email" formControlName="email">
            </div>
            <div class="mb-3">
                <label for="auth-password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="auth-password" formControlName="password">
            </div>
        </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="login()">Entrar</button>
	</div>
</ng-template>
