<app-navbar></app-navbar>
<div class="container" *ngIf="products.length > 0; else loading">
    <div class="row p-3">
        <div class="col-12 text-end">
            <app-order-filter-dropdown
                [name]="'Ordenar por'"
            ></app-order-filter-dropdown>
        </div>
    </div>
    <div class="row row-cols-lg-3 g-4 p-3">
        <div class="col" *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
    <ngb-pagination 
        class="d-flex justify-content-end"
        [collectionSize]="totalProducts" [(page)]="page"
        (pageChange)="loadPage($event)"
    ></ngb-pagination>
</div>
<ng-template #loading>
    <div class="container p-4">
        <div class="spinner-border d-flex m-auto" role="status" *ngIf="!error">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
            Ha ocurrido un error durante la carga :(
        </div>
    </div>
</ng-template>

